<launch>
    <!--
    <node name="detection" pkg="detection" type="detection.py" output="screen" clear_params="true">
        <param name="use_tpu" value="true" />
        <param name="simulate" value="false" />
    </node>
    -->
<!--
    <node name="ico_fence_following" pkg="ico_fence_following" type="ico_fence_following.py" output="screen" clear_params="true">
        <param name="simulate" value="false" />
    </node>
-->
    <node name="dist_ransac_lidar" pkg="dist_ransac" type="ransac_sub.py" output="screen" clear_params="true">
        <param name="simulate" value="false" />
    </node>


  
</launch>
