[submodule "vision/yolov5"]
	path = vision/yolov5
	url = https://github.com/ultralytics/yolov5
[submodule "vision/utils/rosbag2video"]
	path = vision/utils/rosbag2video
	url = https://github.com/mlaiacker/rosbag2video.git
[submodule "docker/ros-fence-inspection/nodes/laser_line_extraction"]
	path = docker/ros-fence-inspection/nodes/laser_line_extraction
	url = https://github.com/kam3k/laser_line_extraction.git
[submodule "vision/utils/map"]
	path = vision/utils/map
	url = https://github.com/Cartucho/mAP.git
