[submodule "vision/yolov5"]
	path = vision/yolov5
	url = https://github.com/ultralytics/yolov5
[submodule "vision/utils/rosbag2video"]
	path = vision/utils/rosbag2video
	url = https://github.com/mlaiacker/rosbag2video.git
