<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find frobit_description)/urdf/frobit.xarco'"/>

    <!-- Spawning coordinates -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>

    <nodes name="frobit_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
           args="-urdf -pargam frobit_description -model frobit -x $(arg x) -y $(arg y) -z $(arg z)" />
</launch>