<?xml version="1.0"?>
<launch>

    <!-- Spawning coordinates -->
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0" />
    <arg name="robot_name" default="frobit" />

    <param name="robot_description" command="$(find xacro)/xacro.py --inorder '$(find frobit_description)/urdf/frobit.xarco'"/>

    <nodes name="spawn_$(arg robot_name)" pkg="gazebo_ros" type="spawn_model" output="screen" 
           args="-urdf -param robot_description -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z)"/>

</launch>
